* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #86c8bc;
}

.mainContainer {
  width: 80%;
  height: 100vh;
  margin: auto;
  display: flex;
  align-items: center;
}

img {
  width: 70px;
  height: 70px;
}
