@import url("https://fonts.googleapis.com/css2?family=Bakbak+One&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-image: url("/images/bg.jpg");
  font-family: "Bakbak One", cursive;
  overflow: auto;
}

.mainContainer {
  width: 80%;
  height: 100vh;
  margin: auto;
  display: flex;
  align-items: center;
}

[type="radio"] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

[type="radio"]:checked + img {
  background-color: rgb(100, 100, 100);
}

img {
  width: 70px;
  height: 70px;
  border-radius: 15px;
  cursor: pointer;
}

img:hover {
  background-color: rgb(100, 100, 100);
  transition: 0.8s;
}
