@import url("https://fonts.googleapis.com/css2?family=Bakbak+One&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #86c8bc;
  font-family: "Bakbak One", cursive;
}

.mainContainer {
  width: 80%;
  height: 100vh;
  margin: auto;
  display: flex;
  align-items: center;
}

img {
  width: 70px;
  height: 70px;
  border-radius: 15px;
  cursor: pointer;
}

img:hover {
  background-color: rgb(100, 100, 100);
  transition: 0.7s;
}

